.card {
   display: flex;
   flex-direction: column;
   padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    margin: 15px;
    height: fit-content;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
  
 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 16px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }



 .container > h4 > b {    
   font-size: 15px;
}

 .cardButton{
   background-color: #e70e0e; 
   border: none;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   border-radius: 12px;
   padding: 5px;
   margin: 10px;    
}

.cardButton:hover{
   background-color: #eb3e3e;
   transition: 0.3s;
}